<div style="background: url('../../../../assets/bckgrnd.webp');" >

  <div class="sidebar">
    <a class="active"[routerLink]="'/home'" >Home</a>
    <a [routerLink]="'/admins'">Admins</a>
    <a  [routerLink]="'/users'"> Users </a>
    <a [routerLink]="'/topics'">Topics</a>
    <a [routerLink]="'/songs'">Songs</a>
    <a [routerLink]="'/player'"> Audio Player </a>
    <!-- <a [routerLink]="'/songs'"> File </a> -->
  </div>

<h1 align="center" >List of Admin</h1>
<img style="image-resolution: 20px; margin-left: 48%; " src="../../../../assets/admin.jpg" alt="">
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">User Name</th>
        <th scope="col">Mobile Number</th>
        <th scope="col">User Role</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of arrayofusers ">
            <td>
              <a [routerLink]="['/admins', user._id]" style="color:blue"><u>{{user.full_name}}</u></a>
           
            </td>
            <td>{{user.mobile_number}}
            </td>
            <td>{{user.role}}
            </td>
          </tr>
      </tbody>
    </table>
    
   </div>
   <button [routerLink]="['/home']">Go Back</button>
   <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
   <br><br><br><br><br><br><br><br>
  </div>