<div style="background: url('../../../../assets/bckgrnd.webp');" >
    <div class="sidebar">
      <a class="active"  [routerLink]="'/home'" >Home</a>
      <a [routerLink]="'/admins'">Admins</a>
      <a  [routerLink]="'/users'"> Users </a>
      <a [routerLink]="'/topics'">Topics</a>
      <a [routerLink]="'/songs'">Songs</a>
      <a [routerLink]="'/player'"> Audio Player </a>
      <!-- <a [routerLink]="'/songs'"> File </a> -->
    </div>

<h1>The Detail of the selected User</h1>
<h3>Name :          {{user. full_name}}</h3>
<h3>Mobile Number:  {{user.mobile_number}}</h3>
<h3>Registered At:  {{user.registered_at}}</h3>

<button [routerLink]="['/users']">Go Back</button>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

