	
.container {
  .main-toolbar {
    justify-content: center;
    .spacer {
      flex: 1 1 auto;
    }
    .toolbar-btn {
      font-size: 16px;
      margin-right: 5px;
      cursor: pointer;
    }
  }
  h4{
    cursor: pointer;
    color: darkblue;
  }

  .content {
    .logo {
      margin: 0.5rem;
      text-align: center;
      font-size: 24px;
      color: #0471d6;
      img{
        background-color: #0471d6;
        padding: .5rem;
      }
      .mat-icon {
        height: 100px !important;
        width: 100px !important;
        font-size: 100px !important;
        
      }
    }
    .song-list{
      height: 200px;
      overflow: scroll;
    }
  }

  .media-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    .spacer {
      width: 200%;
    }
    .time-slider {
      width: 100% !important;
      margin-left: 20px;
      margin-right: 20px;
    }
    .media-action-bar {
      width: 100%;
      padding: 2.5rem;
      justify-content: center;
      .mat-icon {
        height: 48px !important;
        width: 118px !important;
        font-size: 20px !important;
      }
    }
  }
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #666161;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
