<div style="background: url('../../../../assets/bckgrnd.webp');" >
	<div class="sidebar">
		<a class="active"[routerLink]="'/home'" >Home</a>
		<a [routerLink]="'/admins'">Admins</a>
		<a  [routerLink]="'/users'"> Users </a>
		<a [routerLink]="'/topics'">Topics</a>
		<a [routerLink]="'/songs'">Songs</a>
		<a [routerLink]="'/player'"> Player </a>
		<a [routerLink]="'/songs'"> File </a>
	  </div>

<h1>The Detail of the selected Admin</h1>

<table class="myTable">
	<tr>
		<th>Name  </th>
        <th>Mobile Number</th>
        <th>Role</th>
        <th>Profile Picture</th>
	</tr>
	<tr>
		<td><b>{{user.full_name}}</b></td>
		<td>{{user.mobile_number}}</td>
		<td>{{user.role}}</td>
		<td>{{user.profile_image}}</td>
	</tr>
</table>

<!-- <p align="center" ><a [routerLink]="['/admins']">Go Back</a></p> -->
<button [routerLink]="['/admins']">Go Back</button>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>