h3{
    text-align: center;  
    color: #300b6d;  
    
}
h1{
    text-align: center; 
    color: royalblue;
    padding-top: 9%;
}
button{
    margin-top: 2%;
    margin-left: 70%;
}


.myTable { 
    margin-left: 25%;
    width: 50%;
    text-align: left;
    background-color: rgb(226, 250, 199);
    border-collapse: collapse; 
    
    }
  .myTable th { 
    background-color: rgb(253, 23, 61);
    color: white; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
    }
  .myTable td, 
  .myTable th { 
    padding: 20px;
    border: 1px solid rgb(83, 74, 199); 
    text-align: center;
    }
    tr:hover {background-color: rgb(102, 194, 189);}

    body {
      margin: 0;
      font-family: "Lato", sans-serif;
    }
    
    .sidebar {
      margin: 0;
      padding: 0;
      width: 200px;
      background-color: #666161;
      position: fixed;
      height: 100%;
      overflow: auto;
    }
    
    .sidebar a {
      display: block;
      color: black;
      padding: 16px;
      text-decoration: none;
    }
     
    .sidebar a.active {
      background-color: #4CAF50;
      color: white;
    }
    
    .sidebar a:hover:not(.active) {
      background-color: #555;
      color: white;
    }
    
    div.content {
      margin-left: 200px;
      padding: 1px 16px;
      height: 1000px;
    }
    
    @media screen and (max-width: 700px) {
      .sidebar {
        width: 100%;
        height: auto;
        position: relative;
      }
      .sidebar a {float: left;}
      div.content {margin-left: 0;}
    }
    
    @media screen and (max-width: 400px) {
      .sidebar a {
        text-align: center;
        float: none;
      }
    }