<div style="background: url('../../../assets/bckgrnd.webp');">
<nav>
    <ul>
      <li> 
        <a  [routerLink]="'/users'"><i style="font-size:24px" class="fa">&#xf007;</i> Users </a>
      </li>
      <li>
        <a [routerLink]="'/admins'"> Admins </a>
      </li>
      <li>
        <a [routerLink]="'/topics'"> Topics </a>
      </li>
      <li>
        <a [routerLink]="'/songs'"> Songs </a>
      </li>
    </ul>
  </nav>

<h1>Welcome to Knowhere Studio</h1>


<p align="center">
  <b>We're a digital & innovation Studio</b><br>
<br>
We collaborate to work on digital products, user-interface & user-experience, cloud-solutions, marketing & others...
</p>

<p style="text-align: right;"><a [routerLink]="['/login']">Logout</a></p>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
</div>
