<div style="background: url('../../../assets/bckgrnd.webp');">

  <div class="sidebar">
    <a class="active"  [routerLink]="'/home'" >Home</a>
    <a [routerLink]="'/admins'">Admins</a>
    <a  [routerLink]="'/users'"> Users </a>
    <a [routerLink]="'/topics'">Topics</a>
    <a [routerLink]="'/songs'">Songs</a>
    <a [routerLink]="'/player'"> Player </a>
    <a [routerLink]="'/songs'"> File </a>
  </div>

<h1>Welcome to Knowhere Studio</h1>


<p align="center">
  <b>We're a digital & innovation Studio</b><br>
<br>
We collaborate to work on digital products, user-interface & user-experience, cloud-solutions, marketing & others...
</p>

<p style="text-align: right;"><a [routerLink]="['/login']">Logout</a></p>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
