h1{  
    text-align: center;  
    color: #300b6d;  
    padding: 20px;  
} 
li{
    list-style-type: none;  
    font-size: 3vh;
    /*when I specify 2 values to margin, the first one is for the top and bottom side, the second for the left and right side*/
    /* margin: 0 2vw; */
  }
  a{
    text-decoration: none;
    color: rgb(58, 46, 224);
     padding: 2vw;
    /* font-family: monospace; */
    font-size: 25px;
  }
  nav{
  /* margin-top: -10%; */
  margin-right: 70%;
  width: 30%;
 
  }
  ul{
    margin: 0;
    padding: 5px;
  /*this option by default dispose the elements in a row (flex-direction: row)*/
  display: flex;
  }
  
  body{
    margin: 0;
    
  }