h1{  
    text-align: center;  
    color: #300b6d;  
    padding: 20px;  
} 
li{
    list-style-type: none;  
    font-size: 3vh;
    /*when I specify 2 values to margin, the first one is for the top and bottom side, the second for the left and right side*/
    margin: 0 2vw;
  }
  a{
    text-decoration: none;
    color: black;
     padding: 2vw;
    font-family: monospace;
  }
  nav{
  /* margin-top: -10%; */
  margin-left: 70%;
  width: 100%;
  background-color: rgb(241, 217, 217);
  }
  ul{
    margin: 0;
    padding: 0;
      
  /*this option by default dispose the elements in a row (flex-direction: row)*/
  display: flex;
  }
  
  body{
    margin: 0;
  }