<h3 align="center" >List of Users</h3>
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">USER ID</th>
        <th scope="col">Mobile Number</th>
        <th scope="col">Registered At</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of arrayofusers ">
        <td>
          {{user.full_name}}
        </td>
        <td>
          <a [routerLink]="['/users', user._id]" style="color:blue"><u>{{user.mobile_number}}</u></a> 
        </td>
        <td>{{user.timestamp.registered_at}}
        </td>
      </tr>
      </tbody>
    </table>
   </div>

  <button [routerLink]="['/home']">Go Back</button>
